.side-item {
    position: sticky;
    top: 150px;
    padding: 0 5%;
    text-align: center;
}

.side-item ul {
    list-style-position: inside; 
}

.container {
    display: flex;
    width: 90%;
    min-width: 0;
    font-weight: normal;
    margin: 0; /* マージンを削除 */
    padding: 0 5%; /* 内側の余白に変更 */
}

.main {
    flex: 8;
}

.aside {
    flex: 2;
}

/*ここから本文用のスタイル*/

/* 一般的な画像のスタイル */
img {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 16px auto;
}

.split-in-half {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
}

.split-in-half .figure-block {
    flex: 1;
    text-align: center;
    margin: 8px 0;
}

.split-in-half .figure-block .figure-title {
    margin-bottom: 4px; /* タイトルと画像の間隔（必要に応じて調整） */
    line-height: 1.1;
}
.split-in-half .figure-block .img-item {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 300px;
}
.split-in-half .figure-block .img-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 100%;
}