.content-memberpage::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px; /* 線の太さ */
    background-color: #000; /* 黒い線 */
    margin-bottom: 20px; /* 線とコンテンツの間の余白 */
}

.title-memberpage {
    text-align: center;
    font-size: 2.0em;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.member-card{
    display: flex;
    align-items: flex-start;
}

.member-card .photo-box {
    flex: 3;
    text-align: center;
}

.member-card .photo-box img {
    width: 50%;
}

.member-info-right {
    flex: 4;
    margin-left: 10px;
    text-align: left;
}

.member-card .member-info-left {
    flex: 4;
    margin-left: 10px;
    text-align: right;
}

.Name {
    font-family: "Segoe UI", "Times New Roman", "Georgia", serif;
    font-weight: bold;
    font-size: 2.0em;
    color: #2d4a67;
    margin-bottom: 8px;
}

.role {
    font-family: "Segoe UI", "Times New Roman", "Georgia", serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #2d4a67;
    margin-bottom: 8px;
}