.side-item {
    position: sticky;
    top: 150px;
    padding: 0;
    margin: 0;
}

.side-item ul {
    list-style-position: outside; 
    font-size: 1.2em;
    text-align: left;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    width: 95%;
    min-width: 0;
    font-family: "Times New Roman", "Georgia", serif;
    margin: 0; /* マージンを削除 */
    padding: 2.5%; /* 内側の余白に変更 */
}
.container h2 {
    font-weight: bold; /* デフォルトのh2は太字 */
    font-size: 2em; /* 文字を大きく */
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}
.container h3 {
    font-weight: normal; /* デフォルトのh3は太字を解除 */
    margin-top: 0px;
    margin-bottom: 0px;
}
.container h3.sub {
    font-weight: bold; /* subクラスは太字 */
    font-size: 1.5em; /* 文字を大きく */
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 0 0;
}

.main {
    flex: 8;
    padding-right : 40px;
}

.aside {
    flex: 2;
    padding: 0;;
}

/*ここから本文用のスタイル*/

/* 一般的な画像のスタイル */
img {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 16px auto;
}

.split-in-half {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
}

.sample-group {
    flex: 1;
    margin-top: 0;
    padding-top: 0;
}
.sample-group h4 {
    margin-top: 0; /* タイトルとリストの間隔（必要に応じて調整） */
    margin-bottom: 4px;
    text-align: center;
}
.sample-conditions {
    text-align: left;
    margin: 0;
}

.grid-sample-conditions {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2列 */
    grid-template-rows: 1fr 1fr; /* 2行 */
    gap: 0px; /* アイテム間の余白 */
    list-style-type: disc;
    padding: 0;
    margin: 0;
}

.table-block {
    flex: 1;
    text-align: center;
    margin: 8px 0;
}
.table-block .table-title {
    margin-bottom: 4px; /* タイトルと画像の間隔（必要に応じて調整） */
    line-height: 1.1;
}
.table-block .img-item {
    margin: 0 auto;
    padding: 0;
    width: 95%;
    max-width: 400px;
}
.table-block .img-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 100%;
}


.figure-block {
    flex: 1;
    text-align: center;
    margin: 8px 0;
}
.figure-block .figure-title {
    margin-top: 4.0px; /* タイトルと画像の間隔（必要に応じて調整） */
    padding-top: 0px;
}
.figure-block .img-item {
    margin: 0 auto; 
    padding-bottom: 0;
    width: 95%;
    max-width: 720px;
}
.figure-block .img-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.figure-block .img-item .small-image {
    width : 48%;
}
.figure-block .img-item .middle-image {
    width : 65%;
}
.figure-block .img-item .big-image {
    width : 85%;
}