.side-item {
    position: sticky;
    top: 150px;
    padding: 0 5%;
    text-align: center;
}

.side-item ul {
    list-style-position: inside; 
}

.container {
    display: flex;
    width: 90%;
    min-width: 0;
    font-weight: normal;
    margin: 0; /* マージンを削除 */
    padding: 0 5%; /* 内側の余白に変更 */
}

.main {
    flex: 8;
}

.aside {
    flex: 2;
}

/*ここから本文用のスタイル*/
.figure-block .figure-title {
    margin-bottom: 4px; /* タイトルと画像の間隔（必要に応じて調整） */
    line-height: 1.1;
}
.figure-block .img-item {
    margin-top: 0;      /* タイトルとの余白を無くす */
    padding-top: 0;
}
.figure-block .img-item img {
    display: block;
    margin: 0 auto;
}